<div class = "player-box">
	<div class = "player-header">
		<div class = "player-name">{{name}}</div>
	</div>
	<div class = "character-image"><img src = "images/chars/cloaks/cloak{{cloakTexture}}.png" class="layer1"><img src = "images/chars/heads/head{{headTexture}}.png" class="layer2"></div>
	<div class = "player-header">
		{{score}}
	</div>

</div>