body{
	background-color: #550000;
	padding: 0px;
	margin:0;
}
img{
	height: 32px;
	width: 32px;
}

#game-screen{
	
	background-color: gray;
	height: 100%;
	width: 100%;
	border: 5px solid black;
	transition: 1s ease-in-out;

}

#screen-header{
	text-align: center;
	color: #FF2222;
	background-color: #111111;
}

#encounter-name{
	text-align: center;
	color: #FF2222;
	background-color: #111111;
	border: 2px solid black;
}

#health{
	background-color: #111111;

	display: flex;
}



#enm-health{
	width: 50%;
	display: flex;
	border: 2px solid black;
	flex-wrap: wrap;
	
}
#pla-health{
	width: 50%;
	display: inline;
	border: 2px solid black;
	flex-wrap: wrap;
	float: right;
}

.heart{
	height: 16px;
	width: 16px;
	border: none;
	
	margin-bottom: 3px;
	display:
}

#enm-health .heart{
	float: left;
}

#pla-health .heart{
	float: right;
}

#info{
	
	display:flex;
}

#encounter-container{
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	background-image: url("images/back.png");
	background-color: #551111;
}

#encounter-disp{
	border: 2px solid black;
	height: 128px;
	width: 128px;
	padding: 2px;
	background-color: #551111;
}

#encounter-disp img{
	
	height: 128px;
	width: 128px;
	
}


#text-zone{
	background-color: #c41111;
	padding: 10px;
	width: 50%;
	border: 2px solid black;
	
	
}

#inventory{
	
	
	
	flex-wrap: wrap;
	text-align: center;
	background-color: #c41111;
	padding: 20px;
	border: 2px solid black;
	width: 50%;
}

#slot-container{
	display: flex;
	align-items: center;
	justify-content: center;
}



.slot{
	width: 32px;
	height: 32px;
	padding: 2px;
	border: 2px solid black;
	display: flex;
	transition: 1s ease-in-out;
	background-color: #777777;
	background-image: url("images/slot.png");
	
}

.slot:hover{
	transition: 0.1s ease-in-out;
	border: 2px solid #FF0000;
	
}
.item{
	
}
.selected{
	background-image: url("images/slot_selected.png");
	
	
}

.tooltip{
	visibility:hidden;
	position: absolute;
	
	z-index: 1;
	float: right;
	
	width: 0px;
	font-size: 8pt;
	
	background-color: #777777;
}
.slot:hover .tooltip {
	visibility:visible;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	display: table;
	margin-right: 128px;
	float:left;
	margin-top: 34px;
	width:128px;
	
}

#options{
	display: flex;
	padding: 10px;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
}

.option{
	width: 128px;
	
	border: 1px solid red;
	text-align: center;
	padding: 2px;
	margin-right: 10px;
	background-color: #111111;
	color: #dd3333;
	transition: 1s ease-in-out;
	
}

.option:hover{
	background-color: #dd3333;
	color: #111111;
	transition: 1s ease-in-out;
}

.hidden{
	display:none;
	transition: 1s ease-in-out;
}

#character-creation{
	border: 2px solid black;
	background-color: #AAAAAA;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	
}

#creation-box{
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #555555;
}

#character-image{
	width: 128px;
	height: 128px;
	border: 2px solid black;
}

#character-image img{
	width: 128px;
	height: 128px;
	
}

#button-container{
	padding: 2px;
}



.button{
	width: 16px;
	height: 16px;
	border: 2px solid black;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.layer1{
	z-index: 1;
		position: absolute;
}
.layer2{
	z-index: 2;
		position: absolute;
}

#hair-button-l{
	background-image: url("images/arrow_left.png");
}

#hair-button-r{
	background-image: url("images/arrow_right.png");
}

#cloak-button-r{
	background-image: url("images/cloak_arrow_right.png");
}

#cloak-button-l{
	background-image: url("images/cloak_arrow_left.png");
}

#name-box{
	display:flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
}

input{
	border: 2px solid red;
	background-color: #AA3333;
	text-align: center;
}

#begin-button{
	text-align:center;
	border: 2px solid red;
	background-color: #111111;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 1s ease-in-out;
}

#begin-button:hover{
	background-color: red;
	color: #111111;
	transition: 1s ease-in-out;
}

#end-screen{
	display:flex;
	border:5px solid black;
	background-color: #111111;
	align-items: center;
	justify-content: center;
	
}

#end-header{
	background-color: #111111;
	border: 2px solid black;
	text-align: center;
	color: red;
	
}

.player-box{
	background-color: #555555;
	border: 2px solid black;
}

.player-header{
	text-align: center;
	border: 2px solid black;
}

#warning{
	background-color: grey;
	font-size: 3em;
	border: 5px solid black;
	width: fill;
	float: center;
	text-align: center;
	position: relative;
	padding: 10px;
}

#warning a:link {
	text-decoration: none;
	color: #550000;
}

#warning a:visited {
	text-decoration: none;
	color: #550000;
}